/* Feedback Messages */
.error{
  padding: 5px 9px;
  color: red;
}
.success{
  padding: 5px 9px;
  color: green;
}


/* Custom theme */
.form-row{
	padding: .625em .325em;
	border-bottom:  1px solid #ccc
}
.form-row-input{
}
.form-row-label{
}
